@font-face {
  font-family: 'material';
  src: url('MaterialIcons-Regular.eot');
  src: url('MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
     url('MaterialIcons-Regular.woff2') format('woff2'),
     url('MaterialIcons-Regular.woff') format('woff'),
     url('MaterialIcons-Regular.ttf') format('truetype'),
     url('MaterialIcons-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}