@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css";

@import "./header.scss";
@import "./map.scss";

body {
  font-family:'roboto';
  background-color:#fff;
}

.icon {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  &.material {
    font-family:'material';
  }
  &.icomoon {
    font-family:'icomoon';
  }
}

.weather {
  color:#924DA3;
}