@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?wdm5kn');
  src:  url('icomoon.eot?wdm5kn#iefix') format('embedded-opentype'),
    url('icomoon.ttf?wdm5kn') format('truetype'),
    url('icomoon.woff?wdm5kn') format('woff'),
    url('icomoon.svg?wdm5kn#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
}